---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "模型全面，开箱即用",
    description:
      "集成领先公司最前沿的AI模型，并加入独家创新插件，带来前所未有的体验。",
    icon: "mdi:handshake",
  },
  {
    title: "全球访问，无需翻墙",
    description:
      "随时随地，尽享顶级AI技术，不受地域限制。",
    icon: "mdi:feather",
  },
  {
    title: "优势价格，极致性价比",
    description:
      "价格远低于官方，让您以最优惠的价格享受最强大的AI功能。",
    icon: "mdi:directions-fork",
  },
  {
    title: "简洁直观，轻松上手",
    description:
      "界面设计简洁明了，优化用户体验，AI 小白也能迅速掌握使用。",
    icon: "mdi:graph",
  },
  {
    title: "自定义插件，功能丰富",
    description:
      "集成众多自定义插件，提供比官方更强大丰富的功能，满足您的多样需求。",
    icon: "mdi:search-web",
  },
  {
    title: "高强度更新，紧跟前沿",
    description:
      "持续更新模型和网站功能，确保您始终使用最新、最强大的AI技术。",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="特性" id="features">
  <Fragment slot="lead">
    Cooky AI 汇聚 <span class="text-primary">全球顶尖</span> AI 模型，价格
    <span class="text-primary">远低于</span>
    官方，集成丰富插件应用，<span class="text-primary">随时随地</span>轻松访问
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
