---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="轻松上手" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    AI 遥不可及？放轻松，让 Cooky AI 
    <span class="text-primary"> 解放重复性 </span>工作，人生是旷野，你的时间应该属于
    <span class="text-primary">你真正想 </span>做的事
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>使用文档</span>
    </a>
    <a
      href="https://cooky.life/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>出发！</span>
    </a>
  </div>
</ContentSection>
